.container-fluid.sidebar.full-height
    .row.full-height
        .col-xs-12.col-sm-8.col-md-4.col-lg-3.full-height.sidebar-menu
            ul
                li
                    a(href="/me")= session.name
                li
                    a(href="/course") Course
                if session.role === 'admin'
                    li
                        a(href="/users") Users
                    li
                        a(href="/games") Games
                li
                    a(href="/logout") Log out