@toolbar_bg: #212121;

.full-height {
  height: 100%;
}

.table td {
  &.middle {
    vertical-align: middle;
  }
}

.app-title {
  font-family: 'Pacifico', cursive;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: #ffffff url('../img/ajax.gif') no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.sidebar {
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 999;
  width: 100%;
  color: white;

  .sidebar-menu {
    background-color: @toolbar_bg;
  }
}