script(src="/bower/jquery/dist/jquery.min.js")
script(src="/bower/jquery-ui/jquery-ui.min.js")
script(src="/bower/underscore/underscore-min.js")
script(src="/js/ui.js")
script(src="/bower/bootstrap/dist/js/bootstrap.min.js")
script(src="/bower/angular/angular.min.js")
script(src="/bower/angular-resource/angular-resource.min.js")

