link(rel="stylesheet" href="/bower/fontawesome/css/font-awesome.min.css")
link(href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css")
link(rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.min.css")
link(rel="stylesheet" href="/css/styles.css")

