mixin resourcesTable(title, fields)
    h1 #{title} &nbsp;
        a.btn(ng-click="add()")
            i.h1.fa.fa-plus-circle
    table.table
        thead
            tr
                each field in fields
                    if !field.exclude
                        th= field.name
        tbody(ng-show="resources")
            tr(ng-repeat="resource in resources")
                each field in fields
                    if field.link
                        td.middle
                            a(ng-href=field.link)= field.name
                    else if !field.exclude
                        td.middle {{resource.#{field.field}}}
                td.middle
                    a.btn(ng-click="edit(resource)")
                        i.fa.fa-pencil

mixin editResource(name, fields, options)
    div.row
        div.col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2
            h1
                span {{ adding ? 'Add #{name}' : 'Edit' }}
                | &nbsp;
                small {{ adding ? '' : resource.name }}
            div.alert.alert-danger(role="alert", ng-show="error") {{ error }}
            each field in fields
                if field.type !== 'derived'
                    fieldset.form-group(ng-show=field.add ? "adding" : field.generated ? "!adding" : "true")
                        if field.type !== 'checkbox'
                            label(for="#{field.field}")= field.name
                        if field.generated
                            input.form-control(type="#{field.type}" ng-model="resource.#{field.field}" disabled)
                        else
                            case field.type
                                when 'text'
                                when 'password'
                                when 'hidden'
                                when 'email'
                                when 'url'
                                    input.form-control(type="#{field.type}" ng-model="resource.#{field.field}")
                                when 'checkbox'
                                    .checkbox
                                        label
                                            input(type="checkbox" ng-model="resource.#{field.field}" )
                                            |  #{field.name}
                                when 'select'
                                    select.form-control(ng-model="resource.#{field.field}")
                                        each val in field.options
                                            option= val
            if options && options.delete
                .pull-left
                    button.btn.btn-danger(ng-show="!adding" data-toggle="modal" data-target="#delete-modal") Delete
            .pull-right
                if options && options.cancel
                    button.btn.btn-secondary.m-l(ng-click="cancel()") Cancel
                button.btn.btn-primary.m-l(ng-click="save()") {{ adding ? 'Add' : 'Update' }}

mixin resourceView(name, fields)
    div.container-fluid(ng-app="ResourcesApp" ng-controller="ResourcesCtrl")
        include ../parts/loading
        div.row
            div.col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
                div#list.container-fluid
                    +resourcesTable( name.toUpperCase()[0] + name.substr(1), fields)
                div#form.container-fluid(style='display:none')
                    +editResource(name.substr(0, name.length - 1), fields, {cancel: true, delete: true})
            #delete-modal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
                .modal-dialog(role="document")
                    .modal-content
                        .modal-header
                            button.close(type="button" data-dismiss="modal" aria-label="Close")
                                span(aria-hidden="true") &times;
                                span.sr-only Close
                            h4.modal-title Are you sure?
                        .modal-body You are about to delete
                            strong  {{ resource.name }}
                            | . Proceed?
                        .modal-footer
                            button.btn.btn-secondary(type="button" data-dismiss="modal") Cancel
                            button.btn.btn-danger(type="button" data-dismiss="modal" ng-click="delete()") Delete
    script(src="/js/resources.js")
    script(src="/js/resources/#{name}.js")
