extends layout
block title
    title Course - Gleaner
block content
    .container-fluid(ng-app="ResourcesApp" ng-controller="ResourcesCtrl")
        .row
            .col-xs-10.col-xs-offset-1
                h1 Course
                .card-deck-wrapper
                    .card-deck
                        .card(ng-repeat="resource in resources")
                            .card-block
                                h4.card-title
                                    a(ng-href="{{resource.url}}") {{resource.name}}
block js
    script(src="/js/resources.js")
    script
        | resources('games', {onlyQuery: true})

