extends layout
include mixins/resources

block title
    title Games - Gleaner
block content
    +resourceView('games', [
        {
            field: 'name',
            name: 'Name',
            type: 'text'
        },
        {
            field: 'url',
            name: 'URL',
            type: 'url',
            exclude: true
        },
        {
            field: 'trackingCode',
            name: 'Tracking code',
            type: 'text',
            generated: true,
            exclude: true
        },
        {
            name: 'Leaderboard',
            type: 'derived',
            link: '/reports/leaderboard?gameId={{ resource._id }}'
        },
        {
            field: 'enabled',
            name: 'Tracking',
            type: 'checkbox'
        },
        {
            field: 'visible',
            name: 'Visible to students',
            type: 'checkbox'
        }
    ])