doctype html
html(lang="en")
    head
        block title
            title Gleaner
        include css/common
        block css
        include js/common
    body
        include parts/header
        block content
        block js

