doctype html
html(lang="en")
    head
        title Login
        include css/common
    body
        div.container-fluid.p-t-lg
            div.row
                div.col-xs-12.col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
                    div.card
                        div.card-block
                            h4.card-title.app-title.text-center.p-a-md Gleaner
                            if query.error
                                div.alert.alert-danger(role="alert") Unable to log you in. Invalid email or password.
                            if query.loggedOut
                                div.alert.alert-info(role="alert") You successfully closed your session.
                            form(role="form" method="post" action="#{loginPath}")
                                fieldset.form-group
                                    input(type="email" class="form-control" name="name" placeholder="Email")
                                fieldset.form-group
                                    input(type="password" class="form-control" name="password" placeholder="Password")
                                div.text-right
                                    button(type="submit" class="btn btn-primary") Log in
