extends layout
include mixins/resources

block title
    title Profile - Gleaner

block content
    .container-fluid(ng-app="ResourcesApp", ng-controller="ResourcesCtrl")
        include parts/loading
        +editResource('user', [
            {
                field: 'nickname',
                name: 'Name',
                type: 'text'
            },
            {
                field: 'oldPassword',
                name: 'Old password',
                type: 'password'
            },
            {
                field: 'password',
                name: 'New Password',
                type: 'password'
            }
        ])

block js
    script(src="js/resource.js")
    script
        | resource('users', { id: '#{session.userId}', preSave:
        | function(resource){
        | delete resource.resources;
        | delete resource.role;
        | if (!resource.password){
        | delete resource.password;
        | delete resource.oldpassword;
        | }
        | } });

