extends layout
include mixins/resources

block title
    title Users - Gleaner

block content
    +resourceView('users', [
        {
            field: 'name',
            name: 'Email',
            type: 'email',
            add: true
        },
        {
            field: 'password',
            name: 'Password',
            type: 'password',
            add: true,
            exclude: true
        },
        {
            field: 'role',
            name: 'Role',
            type: 'select',
            options: ['admin', 'developer', 'student']
        }
    ])
