div.row
    div.col-xs-6.col-xs-offset-3
        h1 Leaderboard
        table.table(ng-app="LeaderboardApp", ng-controller="LeaderboardCtrl")
            thead
                tr
                    th #
                    th
                    th Name
                    th Score

            tbody(ng-show="assessments")
                tr(ng-repeat="assessment in assessments | orderBy:'-score'")
                    td {{ $index + 1 }}
                    td
                        img.circle(ng-src="{{assessment.player.avatar}}")
                    td {{ assessment.player.name }}
                    td {{ assessment.score }}
script(src='/js/reports/leaderboard.js')
script
    | leaderboard('#{query.gameId}')